.usr-close-button{
  font-size: 1.2rem;
  padding: 0.5rem;
  transform: translateX(-0.5rem);
}

.usr-close-button:hover{
  background-color: #ddddff;
}

.offcanvas{
  width: 550px !important;
  overflow-y: scroll;
}