@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.usr-logo {
  font-family: 'Righteous';
  font-size: 4rem;
  text-shadow:
    #FFF 0px 0px 5px,
    #FFF 0px 0px 10px,
    #FFF 0px 0px 15px,
    #FF2D95 0px 0px 20px,
    #FF2D95 0px 0px 30px,
    #FF2D95 0px 0px 40px,
    #FF2D95 0px 0px 50px,
    #FF2D95 0px 0px 75px;
  color: #7e0a30;
  margin-right: 2rem;
}

.usr-logo--sub, .navbar-nav {
  font-size: 1.6rem;
  text-shadow: #000 3px 3px 10px;
}

.svg-inline--fa {
  font-size: 2rem;
  margin: 0 1rem;
}